*.rbc
*.sassc
**.orig

.bundle
.DS_Store
.foreman
.port
.powrc
.project
.rspec
.rvmrc
.ruby-version
.sass-cache

capybara-*.html
.codeintel/*
config/database.yml
config/deploy/
config/environments/*.local.yml
config/settings.local.yml
config/settings/*.local.yml
coverage/

db/*.sqlite3

pickle-email-*.html
Procfile
public/system/*
public/assets/*
public/uploads/*

rerun.txt

vendor/bundle

log/*

spec/tmp/*
shared/

tmp/*
