.index_entries
  - @entries.each do |entry|
    .index_entry
      .actions
        %span.square.uncheck{ role: 'check' }
        %span.star.uncheck{ role: 'star' }
        %span.flag.uncheck{ role: 'flag' }
      .header
        %span{ class: "group_color_#{entry.channel.color}", role: "tooltip", title: entry.channel.name, data: { placement: "bottom" } }
        %span.title
          = link_to entry.name, entry
          \–
        %span.summary
          = strip_tags entry.summary
      %span.date
        = entry.published_at.to_formatted_s(:short)
