%entry_list
  border-bottom: 1px solid #ccc
  background-color: rgba(0, 0, 0, 0.05)
  padding: 4px
  &:hover, &.read:hover
    background-color: rgba(0, 0, 0, 0.15)
  &.read
    background-color: #fff
  .body
    @extend %truncate
    width: calc(100% - 180px)
    display: inline-block
    .title a
      color: #373e4a
      text-decoration: none
    .summary
      color: $default
  .date
    width: 100px
    text-align: right
    display: inline-block
