%label
  display: inline
  padding: 5px 10px
  font-size: 75%
  font-weight: 400
  line-height: 1
  background-color: #ebebeb
  color: #fff
  text-align: center
  white-space: nowrap
  vertical-align: baseline
  border-radius: 3px

  &:empty
    display: none

  .medium
    font-size: 12px

  .large
    font-size: 15px

  [href]:hover, [href]:focus
    color: #6e7b93
    text-decoration: none
    cursor: pointer

div.label
    padding-left: 20px
    padding-right: 20px

.label-default
    background-color: #ebebeb
    color: #303641

.label-default[href]:hover, .label-default[href]:focus
    background-color: #d2d2d2

.label-primary
    background-color: #303641
    color: #fff

.label-primary[href]:hover, .label-primary[href]:focus
    background-color: #1a1e24

.label-secondary
    background-color: #ec5956

.label-secondary[href]:hover, .label-secondary[href]:focus
    background-color: #e72c28

.label-success
    background-color: #00a651

.label-success[href]:hover, .label-success[href]:focus
    background-color: #007338

.label-info
    background-color: #21a9e1

.label-info[href]:hover, .label-info[href]:focus
    background-color: #1988b6

.label-warning
    background-color: #fad839

.label-warning[href]:hover, .label-warning[href]:focus
    background-color: #f9ce07

.label-danger
    background-color: #cc2424

.label-danger[href]:hover, .label-danger[href]:focus
    background-color: #a11c1c
