.actions_menu
  border-bottom: 1px solid #ccc
  padding: 4px
  a
    color: #333
  a:hover
    color: $dark_red
  button, .add a
    @extend %button
    @extend %button_size_small
  button
    @extend %button_color_blue
  .add a
    @extend %button_color_primary
    @extend %plus_circle
  .square
    margin-left: 6px

.index_entries
  .index_entry
    @extend %list
    .actions
      width: 70px
      height: 1em
      display: inline-block
      color: #777
      .star.check, .star,
      .flag.check, .flag,
      .square.check, .square
        cursor: pointer
      input[type="checkbox"]
        display: none
      a
        text-decoration: none
        color: #777

.show_entry
  padding-right: 15%
  padding-left: 5%
  img
    @extend %thumbnail
    margin: 4px 10px 4px 0
  .channel
    @extend %link
    font-family: "Gill Sans", Verdana
    letter-spacing: 0.5px
    font-weight: bold
    color: #aaa
    a
      color: #666
      text-transform: uppercase
      text-decoration: none
  .add a
    @extend %plus_circle
    color: $dark_green
  a.view
    @extend %eye
    color: $brown
  .empty_entry
    @extend %empty
