.entries, .entry
  img
    display: inline-block
    max-height: 200px
    border: 1px solid $dark_gray
    border-radius: 3px
    padding: 4px
  .entry
    border-bottom: 1px solid #ccc
    @extend %truncate
    padding: 4px
  .title a
    color: #373e4a
    text-decoration: none
  .summary
