.index_entries
  .index_entry
    border-bottom: 1px solid #ccc
    padding: 4px
    &:hover
      background-color: rgba(0, 0, 0, 0.15)
    &.read
      background-color: rgba(0, 0, 0, 0.05)
    img
      @extend %thumbnail
      max-height: 200px
    .actions
      width: 70px
      height: 1em
      display: inline-block
      color: #777
      .star.check, .star,
      .flag.check, .flag,
      .square.check, .square
        cursor: pointer
    .header
      @extend %truncate
      width: calc(100% - 180px)
      display: inline-block
      .title a
        color: #373e4a
        text-decoration: none
      .summary
        color: $default
    .date
      width: 100px
      text-align: right
      display: inline-block

.entry
  .empty_entry
    margin-top: 20px
    text-align: center
    background-color: #c5e8f7
    border-color: #c5e8f7
    color: #2c7ea1
    padding: 15px
    margin-bottom: 17px
    border: 1px solid transparent
    border-radius: 3px
    a
      @extend %button
      @extend %button_color_blue
      @extend %button_size_normal
  img
    @extend %thumbnail
  .original_entry
    @extend %link
