%ul
  %li
    = link_to 'Inbox', entries_path
  %li
    = link_to 'Flaged', entries_path
  %li
    = link_to 'Important', entries_path
  %li
    = link_to entries_path do
      Habrahabra
      %span.group_color_green
